@import "index.css";

:root {
    --green: #7ac254;
    --blue: #006bb6;
    --banner: #232323;
}

.navbar-items {
    text-align: center;
}

.navbar-brand {
    text-align: center;
}

.navbar-brand img {
    min-width: 160px;
    width: 160px;
}

.nav-link {
    color: darkslategrey;
}
.navbar-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#myAccount {
    color: var(--blue);
    font-size: 1.4rem;
}